@import url("./fonts.css");
@import url("./colors.css");

* {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: var(--font-secondary);
  background: #09080c;
  color: var(--white);
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  padding-bottom: 25px;
  min-height: 100dvh;
  width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-dark);
}
